@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #e36161;
}


.App {
  @apply text-center;
}
.content {
  @apply  p-1 ;
}

.wrapper {
  width: calc(100vw - 100px);
  @apply h-full bg-white mx-auto my-12 rounded-lg max-w-screen-2xl;

  @media (max-width: 730px) {
    width: calc(100vw - 30px);
    margin-top: 15px;
  }
}



.header {
  @apply text-3xl font-bold text-center text-gray-800
}

.button {
  @apply mt-10 bg-purple-400 bg-opacity-60
  px-8 py-2 block mx-auto rounded-xl
  md:bg-green-500 dark:bg-red-700;

  &:hover {
    @apply bg-purple-950
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
